modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["npm", "start"]
deploymentTarget = "vm"
build = ["npm", "run", "build"]

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3003

[[ports]]
localPort = 35087
externalPort = 3001

[[ports]]
localPort = 39077
externalPort = 4200

[[ports]]
localPort = 41839
externalPort = 3002

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Run"
author = 37399832
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Frontend"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Backend API"

[[workflows.workflow]]
name = "Frontend"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[workflows.workflow]]
name = "Backend API"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run server"
waitForPort = 3000

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "Backend Server"
author = 37399832
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run server"

[agent]
expertMode = true
integrations = ["javascript_database:1.0.0"]
